@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
	font-family: 'Dongle', sans-serif;
	background: #ccc;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .right-container {
	width: 420px;
	display: flex;
}
.controls-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 420px;
	margin-left: 0px;
}
.controls-wrapper .right-pane {
	margin-right: 40px;
}
.controls-wrapper .mode-selector {
	font-size: 25px;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding: 10px;
}
.controls-wrapper .mode-selector * {
	cursor: pointer;
}
.controls-wrapper .mode-selector input[disabled] {
	cursor: default;
}
.controls-wrapper .mode-selector input[disabled] + label {
	cursor: default;
	color: #858585;
}

.iteration {
	font-family: 'Dongle', sans-serif;
	font-size: 25px;
	text-align: left;
	color: #0d5e8d;
	margin-top: 10px;
	border-radius: 3px;
}

.speed-selector {
	font-size: 25px;
	margin-top: 10px;
}
.speed-selector input {
	padding-top: 6px;
}
#speed-input {
	font-size: 25px;
	font-family: 'Dongle', sans-serif;
	background-color: rgb(224, 224, 224);
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	text-align: center;
}
#speed-input:hover {
	box-shadow: 0 0 10px #706f6f;
}

.canvas-wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-family: 'Dongle', sans-serif;
	font-size: 25px;
	padding: 1px;
	margin-right: 3px;
	background-color: rgba(255,204,0,1);
	border: 1px solid #ffcc00;
	border-radius: 5px;
	border-bottom: 1px solid #9f9f9f;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	cursor: pointer;
	width: 70px;
	margin-top: 10px;
}

button:hover {
	box-shadow: 0 0 7px #9f9f9f;
}

button:active {
	background-color: rgba(255,204,0,.7);
}

.zoo-selector {
	/*display: flex;*/
	/*width: 120px;*/
	/*flex-direction: column;*/
	/*position: relative;*/
	margin-left: 40px;
}
.zoo-selector label {
	font-size: 20px;
}

.zoo-selector .critter-comments {
	font-size: 20px;
	width: 350px;
	margin: 15px 0 0 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	white-space: nowrap;
}
a:link {
	color: #706f6f;
	text-decoration: none;
}
a:visited {
	color: #706f6f;
}
a:hover {
	color: #014360;
}

select, input {
	outline: none;
	background-color: #ccc;
	border-radius: 3px;
	padding: 3px;
}

#primitives {
	width: 150px;
}

.drawing-toolbox {
	/*display: flex;*/
	/*justify-content: space-between;*/
	width: 120px;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	padding: 5px;
}
.drawing-toolbox .item {
	display: flex;
	margin: 0 2px;
	cursor: pointer;
	border: 1px solid black;
	width: 24px;
	height: 24px;
}
.drawing-toolbox .item img:hover {
	background-color: #ffcc00;
}


