@import url(reset.css);

body {
	background: #ccc;
	font-family: Arial, serif;
	font-size: 12px;
}

.canvasWrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #10afff;
}

button {
	font:10px Futura, 'Century Gothic', sans-serif;
	padding:1px;
	margin-right: 3px;
	background-color:rgba(255,204,0,1);
	border:1px solid #ffcc00;
	border-radius:5px;
	border-bottom:1px solid #9f9f9f;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:default;
	width: 70px;
}


.fpsCounter {
	background-color: rgba(12,12,127,1);
	padding: 1px 3px;
}

